<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">Professional Backend Theme</h2>
        <h3 class="oe_slogan">Professional theme, for professional business </h3>


        <div class="oe_demo oe_picture  oe_screenshot">
            <img src="screenshot.gif">
        </div>
    </div>

    <div class="oe_container oe_dark">


        <div class="row mt32 o_animate o_animate_in_children o_animate_offset_min"
             style="animation-name: none; visibility: hidden; animation-play-state: paused;">

            <div class="col-md-5 col-md-offset-1" style="transition-delay: 0ms;">
                <h2 class=" mt32 mb16"><b>Simple</b> and <b>user friendly</b> like Odoo enterprise</h2>

            </div>
            <div class="col-md-6" style="transition-delay: 500ms;">
                <div class="oe_demo oe_picture  oe_screenshot">
                    <img src="project.png">
                </div>
            </div>

        </div>


    </div>
    <div class="oe_container">
        <div class="oe_row">
            <h2 class='oe_slogan'>A Good Mobile view</h2>
            <h3 class='oe_slogan'>With Awesome Design </h3>
        </div>
        <div class='oe_row'>
            <div class="row o_animate o_animate_in_children o_animate_offset_min"
                 style="animation-name: none; visibility: hidden; animation-play-state: paused;">

                <div class='oe_span4'>


                    <div style="transition-delay: 0ms;">
                        <div class="panel">
                            <img style="margin: auto auto;display: block;padding: 10px;" src="mobile1.png" width="170" height="300">

                            <div class="panel-heading mt0 mb0">
                                <h4 class="mt0 mb0">
                                    Application

                                </h4>
                            </div>
                            <div class="panel-body">
                                <p>Simple Access</p>
                            </div>

                        </div>
                    </div>

                </div>
                <div class='oe_span4 '>

                    <div style="transition-delay: 500ms;">
                        <div class="panel">
                            <img style="margin: auto auto;display: block;padding: 10px;" src="mobile2.png" width="170" height="300">

                            <div class="panel-heading mt0 mb0">
                                <h4 class="mt0 mb0">
                                    Contact

                                </h4>
                            </div>
                            <div class="panel-body">
                                <p> User Friendly Environment</p>
                            </div>

                        </div>


                    </div>


                </div>
                <div class='oe_span4 '>
                    <div style="transition-delay: 1000ms;">
                        <div class="panel">
                            <img style="margin: auto auto;display: block;padding: 10px;" src="mobile3.png" width="170" height="300">

                            <div class="panel-heading mt0 mb0">
                                <h4 class="mt0 mb0">
                                    Accounting Dashboard

                                </h4>
                            </div>
                            <div class="panel-body">
                                <p> Magic Dashoboard</p>
                            </div>

                        </div>


                    </div>

                </div>


            </div>
        </div>
    </div>
</section>
<section class="oe_container oe_dark">
    <div class="row mt32 o_animate o_animate_in_children o_animate_offset_min"
         style="animation-name: none; visibility: hidden; animation-play-state: paused;">
        <div class="col-md-5" style="transition-delay: 500ms;">
            <div class="oe_demo oe_picture  oe_screenshot">
                <img src="contact.png">
            </div>
        </div>
        <div class="col-md-2" style="transition-delay: 0ms;">

            <h2 class=" mt32 mb16"><b>Well designed</b> as <b>user experience</b> and <b>usability</b>
            </h2>
        </div>
        <div class="col-md-5" style="transition-delay: 500ms;">
            <div class="oe_demo oe_picture  oe_screenshot">
                <img src="last.png">
            </div>
        </div>


    </div>
</section>
<section class="bg-white">
    <div class="container">
        <div class="row o_v_align_col_sm">
            <div class="col-sm-6 col-lg-5 mb48 text-center-xs">
                <h2 class=" mt32 mb16">Need <b>help?</b></h2>
                <p class="font-heading text-heading mb24">Contact us to get a quote or a custom-tailored demonstration
                    with one of our business advisors.</p>


                <b>soroush.e89@gmail.com:</b>
                <a href="mailto:soroush.e89@gmail.com?Subject=artarad%20theme" target="_blank" class="btn btn-default">Contact
                    us</a>
            </div>
            <div class="col-sm-6 col-lg-5 col-lg-offset-2 hidden-xs">
                <img src="//odoocdn.com/openerp_website/static/src/img/2016/pricing/support_banner.jpg"
                     class="img-responsive pull-right" alt="">
            </div>
        </div>
    </div>
</section>
